-var pageTitle="Game"
doctype html
html(lang="en")
    head
        title=pageTitle
        style
            include src/scss/style.css
        link(rel="stylesheet",
            href="src/swiper/swiper-bundle.min.css")
        script(src="src/swiper/swiper-bundle.min.js")

    body
        include src/modules/header
        section.section-banner
            .container
                h1.section-banner-text1  #1 Escape
                     br
                     | rooms in
                     br
                     | Vienna
                p.section-banner-text2 64,232 players have chosen us worldwide
                .section-banner__btn Book now
                //.section-banner__cloud
                .section-banner-logo
                    img(src='src/images/section-logo-in.png', alt='section-logo')
        section.section-rooms
            p Our games
            .section-rooms-container
                .swiper.MySwiper
                    .swiper-wrapper
                        .swiper-slide
                            img(src="../src/images/room1.png", alt="room1").swiper-slide-img
                            h3.swiper-slide-img-header Mission Belvedere
                            .swiper-slide-infoRoom
                                .swiper-slide-infoRoom-1
                                    .swiper-slide-infoRoom-1__time 60 min
                                    .swiper-slide-infoRoom-1__level Difficult
                                    .swiper-slide-infoRoom-1__people 2-4
                                .swiper-slide-infoRoom-2 Nehmt an dem Raub des Jahrhunderts teil! Macht mit und versucht, Gustav Klimts "Der Kuss" aus Österreichs sicherstem Museum zu stehlen.
                                button Select game
                        .swiper-slide
                            img(src="../src/images/room2.png", alt="room2").swiper-slide-img
                            h3.swiper-slide-img-header School of Magic
                            .swiper-slide-infoRoom
                                .swiper-slide-infoRoom-1
                                    .swiper-slide-infoRoom-1__time 80 min
                                    .swiper-slide-infoRoom-1__level Difficult
                                    .swiper-slide-infoRoom-1__people 2-7
                                .swiper-slide-infoRoom-2 Nehmt an dem Raub des Jahrhunderts teil! Macht mit und versucht, Gustav Klimts "Der Kuss" aus Österreichs sicherstem Museum zu stehlen.
                                button Select game
                        .swiper-slide
                            img(src="../src/images/room3.png", alt="room3").swiper-slide-img
                            h3.swiper-slide-img-header The Unknown
                            .swiper-slide-infoRoom
                                .swiper-slide-infoRoom-1
                                    .swiper-slide-infoRoom-1__time 20 min
                                    .swiper-slide-infoRoom-1__level Difficult
                                    .swiper-slide-infoRoom-1__people 2-5
                                .swiper-slide-infoRoom-2 Nehmt an dem Raub des Jahrhunderts teil! Macht mit und versucht, Gustav Klimts "Der Kuss" aus Österreichs sicherstem Museum zu stehlen.
                                button Select game
                        .swiper-slide
                            img(src="../src/images/room4.png", alt="room4").swiper-slide-img
                            h3.swiper-slide-img-header School of Magic
                            .swiper-slide-infoRoom
                                .swiper-slide-infoRoom-1
                                    .swiper-slide-infoRoom-1__time 50 min
                                    .swiper-slide-infoRoom-1__level Easy
                                    .swiper-slide-infoRoom-1__people 2-3
                                .swiper-slide-infoRoom-2 Nehmt an dem Raub des Jahrhunderts teil! Macht mit und versucht, Gustav Klimts "Der Kuss" aus Österreichs sicherstem Museum zu stehlen.
                                button Select game
                        .swiper-slide
                            img(src="../src/images/room1.png", alt="room1").swiper-slide-img
                            h3.swiper-slide-img-header Mission Belvedere
                            .swiper-slide-infoRoom
                                .swiper-slide-infoRoom-1
                                    .swiper-slide-infoRoom-1__time 60 min
                                    .swiper-slide-infoRoom-1__level Difficult
                                    .swiper-slide-infoRoom-1__people 2-4
                                .swiper-slide-infoRoom-2 Nehmt an dem Raub des Jahrhunderts teil! Macht mit und versucht, Gustav Klimts "Der Kuss" aus Österreichs sicherstem Museum zu stehlen.
                                button Select game
                        .swiper-slide
                            img(src="../src/images/room3.png", alt="room3").swiper-slide-img
                            h3.swiper-slide-img-header The Unknown
                            .swiper-slide-infoRoom
                                .swiper-slide-infoRoom-1
                                    .swiper-slide-infoRoom-1__time 20 min
                                    .swiper-slide-infoRoom-1__level Difficult
                                    .swiper-slide-infoRoom-1__people 2-5
                                .swiper-slide-infoRoom-2 Nehmt an dem Raub des Jahrhunderts teil! Macht mit und versucht, Gustav Klimts "Der Kuss" aus Österreichs sicherstem Museum zu stehlen.
                                button Select game
                        .swiper-slide
                            img(src="../src/images/room2.png", alt="room2").swiper-slide-img
                            h3.swiper-slide-img-header School of Magic
                            .swiper-slide-infoRoom
                                .swiper-slide-infoRoom-1
                                    .swiper-slide-infoRoom-1__time 80 min
                                    .swiper-slide-infoRoom-1__level Difficult
                                    .swiper-slide-infoRoom-1__people 2-7
                                .swiper-slide-infoRoom-2 Nehmt an dem Raub des Jahrhunderts teil! Macht mit und versucht, Gustav Klimts "Der Kuss" aus Österreichs sicherstem Museum zu stehlen.
                                button Select game
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination
        include src/modules/footer
        script(src="logic.js")
        script(src="src/swiper/swiper-bundle.min.js")






































































