footer
    .footer
        .footer-infoBlock1
            .footer-infoBlock1_part1
            .footer-infoBlock1_part2
                p Impressum Elite Experience EC Gmbh,FN 491623a, Pirchäckerstrasse 34, 8053 Graz
            .footer-infoBlock1_part3 We accept:
                .footer-infoBlock1_part3-1
                    img(src="../src/images/footer/visa.png", alt="visa")
                .footer-infoBlock1_part3-2
                    img(src="../src/images/footer/circle2.png", alt="circle2")
                .footer-infoBlock1_part3-3
                    img(src="../src/images/footer/pay.png", alt="pay")
                .footer-infoBlock1_part3-4
                    img(src="../src/images/footer/worlds.png", alt="worlds")
                .footer-infoBlock1_part3-5
                    img(src="../src/images/footer/PayPal.png", alt="PayPal")
            .footer-infoBlock1_part4
                p Ⓒ2020 NoWayOut All Rights Reserved
        .footer-infoBlock2
            .footer-infoBlock2-circle
            .footer-infoBlock2-INFO
                .footer-infoBlock2-INFO-part1
                    ul
                        li Rooms
                        li Gift card
                        li How to play
                        li Blog
                .footer-infoBlock2-INFO-part2
                    ul
                        li Corporate
                        li Birthday parties
                        li Special offer
                        li Bandle
                .footer-infoBlock2-INFO-part3
                    ul
                        li Contact us
                        li About us
                        li Career
            .footer-infoBlock2-addInfo
                .footer-infoBlock2-addInfo_1 Privacy Policy
                .footer-infoBlock2-addInfo_2 Terms Of Use
        .footer-infoBlock3
            .footer-infoBlock3_part1
                img(src="../src/images/footer/arrow.png", alt="arrow")
            .footer-infoBlock3_part2
                .footer-infoBlock3_part2-DE DE
                .footer-infoBlock3_part2-EN EN
            .footer-infoBlock3_part3
                .footer-infoBlock3_part3-smm1
                    img(src="../src/images/footer/smmBlock/smm1.png", alt="smm1")
                .footer-infoBlock3_part3-smm2
                    img(src="../src/images/footer/smmBlock/smm2.png", alt="smm2")
                .footer-infoBlock3_part3-smm3
                    img(src="../src/images/footer/smmBlock/smm3.png", alt="smm3")
                .footer-infoBlock3_part3-smm4
                    img(src="../src/images/footer/smmBlock/smm4.png", alt="smm4")
                .footer-infoBlock3_part3-smm5
                    img(src="../src/images/footer/smmBlock/smm5.png", alt="smm5")


