header
    .header
        .header_MENU1
            .header_MENU1-logo
                img(src="../src/images/Horizontal logo.png", alt="logo")
            .header_MENU1-location
                .header_MENU1-location-1
                    img(src="../src/images/location.png", alt="location")
                .header_MENU1-location-2 Vienna
                .header_MENU1-location-3
                    img(src="../src/images/arrow.png", alt="arrow")
            .header_MENU1-number
                .header_MENU1-number-1
                    img(src="../src/images/phone.png", alt="phone")
                .header_MENU1-number-2
                    p +43 660 605 0000
        .header_MENU2
            .header_MENU2-Schedule Schedule
            .header_MENU2-Rooms Rooms
            .header_MENU2-Contacts Contacts
            .header_MENU2-Language
                .header_MENU2-Language_UK
                    img(src="../src/images/united-kingdom 1.png", alt="UK")
                .header_MENU2-Language_Ger
                    img(src="../src/images/germany.png", alt="germany")
            .header_MENU2-btnMore
                img(src="../src/images/Burger.png", alt="burger")









